{% extends 'admin/admin_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr style="color: black;background-color:#00B98E">
      <th scope="col">Sl.No</th>
      <th scope="col">House Name</th>
      <th scope="col">House No</th>
      <th scope="col">Image</th>
      <th scope="col">Amount</th>
      <th scope="col">Square Feet</th>
      <th scope="col">No of Rooms</th>
      <th scope="col">Owner info</th>
        <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.house_name }}</td>
      <td>&nbsp;{{ i.house_no }}</td>
      <td>&nbsp;<img src="{{ i.image }}" height="100px" width="100px" alt=""/></td>
      <td>&nbsp;{{ i.amount }}</td>
      <td>&nbsp;{{ i.square_feet }}</td>
      <td>&nbsp;{{ i.no_of_rooms }}</td>
      <td> Name : {{ i.USER.name }}<br> Email:{{ i.USER.email }}</td>
      <td><p><a href="http://www.google.com/maps/?q={{ i.latitude }}{{ i.longitude }}" class="btn btn-outline-success">Locate</a></p>
      <p><a href="/accept_home/{{ i.id }}" onclick="return confirm('Are you sure to accept?')" class="btn btn-outline-primary">Accept</a></p>
      <p><a href="/reject_home/{{ ui.id }}" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Reject</a></p>
      </td>
        {% endfor %}
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}