{% extends 'user/user_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/upload_document_post/{{ id }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <th scope="row">Document</th>
      <td>
      <input type="file" name="fileField"  class="form-control" required id="fileField" /></td>
    </tr>
    <tr>
        <th colspan="2" scope="row"><div align="center"><input type="submit" name="button" id="button" value="Upload" class="btn btn-outline-success" /></div></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}