<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="/user_change_password">change Password</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_home">Add home</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_home">view home</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_home_and_send_request">send request</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/view_request_and_verify">view request and verify</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/view_approved_request_owner">view approved request owner</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/view_approved_request_user">view approved request user </a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/view_payment">view payment </a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/send_complaint">Send complaint</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="/user_view_reply">View reply</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/logout">Logout</a></th>
    </tr>

  </table>
</form>
</body>
</html>
