{% extends 'user/user_index.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr style="color: black;background-color:#00B98E">
      <th scope="col">Sl.No</th>
      <th scope="col">House Name</th>
      <th scope="col">House no</th>
      <th scope="col">Image</th>
{#      <th scope="col">Amount</th>#}
      <th scope="col">Squarefeet</th>
      <th scope="col">Rooms</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.house_name }}</td>
      <td>&nbsp;{{ i.house_no }}</td>
        <td>&nbsp;Image:  <img src="{{ i.image }}" height="100px" width="100px" alt=""/><br><b>₹</b>{{ i.amount }}</td>
{#      <td>&nbsp;</td>#}
      <td> {{ i.square_feet }}</td>
      <td>&nbsp;{{ i.no_of_rooms }}</td>
      <td><a href="http://www.google.com/maps/?q={{ i.latitude }} {{ i.longitude }}" class="btn btn-outline-success">Track</a>
      <a href="/edit_home/{{ i.id }}#aa" class="btn btn-outline-success">Edit</a>
          <a href="/delete_home/{{ i.id }}" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">Delete</a>
      </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
